certifi==2017.11.5
chardet==3.0.4
decorator==4.0.11
idna==2.6
imageio==2.1.2
-e git+https://github.com/LevPasha/Instagram-API-python.git@a5a2bff6755ffa8e92b91a91ee3e5d0719a631e0#egg=instagram_api
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
moviepy==0.2.3.2
numpy==1.13.3
olefile==0.44
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
Pillow==9.3.0
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
requests==2.11.1
requests-toolbelt==0.7.0
simplegeneric==0.8.1
six==1.11.0
tqdm==4.11.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
